* {
  box-sizing: border-box;
}
.App {
  display: flex;
  padding: 30px;
}
.todoList > div {
  margin-right: 50px;
}
.todoList {
  border: 1px solid black;
  border-radius: 5px;
  background-color: aqua;
  padding: 20px;
  font-weight: 600;
}

.error {
  border: 1px solid red;
}
.error-message {
  color: red
}

.active-filter {
  background-color: rgb(160, 156, 36);
  color: #fff;
}

.task-done {
  color: green;
}
.task-active {
  color: #fff;
}
